page-login {
 
  .login-content {
    background-image: url(../assets/img/windturbine3.jpg);
    //background: #1780b5;
 
    .logo-row {
      align-content: center;
      margin-top: 30px;
    }
 
    .login-box {
     // background: #ffffff;
      padding: 20px 20px 0px 20px;
      margin-top: 50px;
    }
 
    ion-row {
       align-items: center;
       text-align: center
     }
 
     ion-item {
     //    border-radius: 30px !important;
         padding-left: 0 !important;
         font-size: 0.9em;
         margin-bottom: 10px;
   //      border: 4px solid #1780b5;
   //      border-bottom: 4px !important;
   //      box-shadow: none !important;
     }

     .item-md.item-block .item-inner {padding: 0;}
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
       
     }
 
    //  .item-inner {
    //    border-bottom-color: #1780b5 !important;
    //    box-shadow: none !important;
    //  }
 
     .submit-btn {
       background: green;
       //border-radius: 30px !important;
       //border: 1px solid #ffffff;
     }
 
    //  .register-btn {
    //    color: #ffffff;
    //    font-size: 0.8em;
    //  }
  }
}