page-login {
  overflow: auto;
  .content-md,.item-md  {
    background: transparent
  };
  .scroll-content {
    background:rgba(255,255,255,0.7);
    max-width: 350px;
    height: 350px;
    overflow: hidden;
    top: 100px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0 auto 20px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .login-content {
     background-image: url(../assets/img/windturbine3.jpg);
 
    .logo-row {
      align-content: center;
      margin-top: 10px;
    }
 
    .login-box {
      margin-top: 20px;
    }
 
    ion-row {
       align-items: center;
       text-align: center
     }
 
     ion-item {
         padding-left: 0 !important;
         font-size: 0.9em;
         margin-bottom: 10px;
     }

     .item-md.item-block .item-inner {padding: 0;}
     .item-inner, ion-item {border: 0 !important; box-shadow: none !important;}
     input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset;}
     ion-input {  background: #FFF;}
     .text-input-md {margin: 0; padding: 13px 8px 13px 8px;}
     .button-md:hover:not(.disable-hover) {background-color: #38c;}
     .logo-row ion-col {padding: 0 80px;}

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
       
     }
     .submit-btn {
       background: #7DBF43;
     }
  }
}
.toast-controller-login-error .toast-wrapper{
   text-align:center;
   background:lightcoral;
}
