page-assets {
    .asset-content{
        ion-item {
           
        }
        .item-inner {
               margin: 4px;
               font-size: 1em;
               color: green;
           }
        
        // ion-list{
        //   background: lightgrey;
        // }
        // button{
        //     background: lightgrey;
        //     padding: 10px;
        // }
    }

}
