<ion-header>
  <ion-navbar color="primary">
    <ion-title>Assets</ion-title>
    <ion-buttons end>
      <button ion-button (click)=logOut()>
          <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="asset-content"  padding>
  <ion-item *ngIf="showSearch">
    <ion-input padding-right style="font-size:1.0em;" [(ngModel)]="firstsearchtext" name="firstsearchtextinput" placeholder="Enter 3 letters of Node Name/ID
.."></ion-input>
    <button *ngIf="showSearchbutton()" color="secondary" ion-button item-right style="text-transform: none;top:5px;" (click)="loadAssets()"
      round>Go.. <ion-icon name="search"></ion-icon></button>
  </ion-item>

  <ion-list [virtualScroll]="assets" approxItemHeight="85px">
    <div class="asset-item" ion-item *virtualItem="let asset">
      <div class="header"><span class="assetTitle">{{asset.NY_NodeName}}</span>
        <ion-buttons *ngIf="!showNoNodesFound" end>
          <button ion-button (click)=goToAssetDetail(asset)>
            <ion-icon  name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
  </ion-list>
</ion-content>