<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{asset.NY_NodeName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)=refresh()>
          <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item class="datePickerContainer">
    <ion-label style="font-size:16px;font-weight:350">Select a Date</ion-label>
    <ion-datetime [(ngModel)]="selectedDateModel" max="{{maxDate}}" (ngModelChange)="getAssetDetails()"></ion-datetime>
  </ion-item>
  <ion-row class="grid-header" *ngIf="!showNoDataFound">

    <ion-col width-2>
      <strong> HE</strong>
    </ion-col>
    <ion-col width-5>
      <strong>DA($)</strong>
    </ion-col>
    <ion-col width-5>
      <strong>RT($)</strong>
    </ion-col>
    <ion-col width-30>
      <strong>RT MW</strong>
    </ion-col>
    <ion-col width-30>
      <strong>DA Awards</strong>
    </ion-col>
    <ion-col width-28>
      <strong>Rev($)</strong>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content padding class="asset-detail-content">
  <!-- <ion-row class="grid-header" *ngIf="!showNoDataFound">

    <ion-col width-2>
      <strong> HE</strong>
    </ion-col>
    <ion-col width-5>
      <strong>DA($)</strong>
    </ion-col>
    <ion-col width-5>
      <strong>RT($)</strong>
    </ion-col>
    <ion-col width-30>
      <strong>RT MW</strong>
    </ion-col>
    <ion-col width-30>
      <strong>DA Awards</strong>
    </ion-col>
    <ion-col width-28>
      <strong>Rev($)</strong>
    </ion-col>
  </ion-row> -->

  <ion-grid *ngIf="!showNoDataFound">
    <ion-row class="grid-data" *ngFor="let asset of assetDetail">
      <ion-col width-2>
        {{asset.HE_Time}}
      </ion-col>
      <ion-col width-5>
        {{asset.DA_PRICE_NA | customCurrency}}
      </ion-col>
      <ion-col width-5>
        {{asset.RT_PRICE_NA | customCurrency}}
      </ion-col>
      <ion-col width-30>
        {{asset.PI_MW_NA | restrictDecimalSize}}
      </ion-col>
      <ion-col width-30>
        {{asset.DA_AWARDS_NA | restrictDecimalSize}}
      </ion-col>
      <ion-col width-28>
        {{asset.REVENUE | customCurrency}}
      </ion-col>
    </ion-row>
    <ion-row class="grid-data">
      <ion-col width-2>
        <b>{{TotalLabel}}</b>
      </ion-col>
      <ion-col width-5>

      </ion-col>
      <ion-col width-5>

      </ion-col>
      <ion-col class="gridBranding" width-30>
        {{RT_MW_Total | restrictDecimalSize}}
      </ion-col>
      <ion-col class="gridBranding" width-30>
        {{DAAwards_Total | restrictDecimalSize}}
      </ion-col>
      <ion-col class="gridBranding" width-28>
        {{Revenue_Total | customCurrency}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!showNoDataFound">

  </ion-grid>

  <ion-card>
    <ion-card-header style=font-size:18px;>{{dataFound}}

    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>