page-asset-detail {
    .asset-detail-content{
        .grid-header{
            background:deepskyblue;
            color: white;
        }
        .grid-data{
            margin: 0px;
            font-size: 1em;
        }   
    }
}