<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{asset.NY_NodeName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)=refresh()>
          <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item class="datePickerContainer">
    <ion-label>Select a Date</ion-label>
    <ion-datetime [(ngModel)]="selectedDateModel" max="{{maxDate}}" (ngModelChange)="getAssetDetails()"></ion-datetime>
  </ion-item>
</ion-header>


<ion-content padding class="asset-detail-content">


  <ion-row class="grid-header" *ngIf="!showNoDataFound">

    <ion-col width-6 class="text-center">
      <strong> HE</strong>
    </ion-col>
    <ion-col width-17 class="text-center">
      <strong>DA($)</strong>
    </ion-col>
    <ion-col width-17 class="text-center">
      <strong>RT($)</strong>
    </ion-col>
    <ion-col width-20 class="text-center">
      <strong>RT MW</strong>
    </ion-col>
    <ion-col width-20 class="text-center">
      <strong>DA Awards</strong>
    </ion-col>
    <ion-col width-20 class="text-center">
      <strong>Rev</strong>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="!showNoDataFound">
    <ion-row class="grid-data" *ngFor="let asset of assetDetail">
      <ion-col width-6 class="text-center">
        {{asset.HE_Time}}
      </ion-col>
      <ion-col width-17 class="text-center">
        {{asset.DA_PRICE_NA | restrictDecimalSize}}
      </ion-col>
      <ion-col width-17 class="text-center">
        {{asset.RT_PRICE_NA | restrictDecimalSize}}
      </ion-col>
      <ion-col width-20 class="text-center">
        {{asset.PI_MW_NA | restrictDecimalSize}}
      </ion-col>
      <ion-col width-20 class="text-center">
      </ion-col>
      <ion-col width-20 class="text-center">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>{{dataFound}}

    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>