.button-pp-round {
    border-radius: 30px;
    padding: 0 1.3rem;
    bottom:2.3rem;
    height: 2.2em;
    font-size: 1.2rem;
    color: #fff;
    background-color: #387ef5;
    margin: 0.2rem 0.7rem;
    float:right;
}