.button-pp-round {
    border-radius: 30px;
    padding: 0 1.3rem;
    bottom:0.8rem;
    height: 1.8em;
    font-size: 1.4rem;
    color: #fff;
    background-color: #387ef5;
    margin: 0.2rem 2.5rem;
    float:right;
}